<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>À propos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
        <a href="/contact">Contact</a>
        <a href="/localisation">Localisation</a>
    </nav>

    <section class="content">
        <h1>À propos de moi 👤</h1>
        <p>
            Je suis en train d'apprendre à développer des applications web avec Flask.
            Ce projet fait partie de mon apprentissage Git et Python.
        </p>
    </section>

</body>

</html>