<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="/">Accueil</a>
        <a href="/about">À propos</a>
        <a href="/localisation">Localisation</a>
        <a href="/contact">Contact</a>
    </nav>

    <section class="hero">
        <h1>Bienvenue sur mon site</h1>
        <p>Je développe mes premières applications web avec Flask.</p>
    </section>

</body>

</html>